.main-screen{
    width: 100%;
    background-image: url("../image/main-bg.jpg");
    height: 940px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar {
    background-color: #0000007d;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.navbar-light .navbar-brand {
    color: white;
    width: 20%;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    padding: 1rem;
    
}

.vertical-center {
    margin-top: 12em;
}

h1#section1{
    font-size: 80px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
}

h3#section1{
    font-size: 24px;
    text-transform: capitalize;
    color: white;
    margin-top: 62px;
    letter-spacing: 4px;
}

#btn-cta{
    font-weight: bold;
    width: 185px;
    height: 44px;
    text-transform: uppercase;
    margin-top: 62px;
    background-color: #FFB548;
}

.scroll-down{
    color: white;
    text-align: center;
    margin-top: 14vw;
}

.section-2{
    width: 100%;
    background-image: url("../image/the-games-bg.jpg");
    height: 940px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 6%;
}

.gallery{
    margin-top: 10vh;
}

h3{
    color: white;
    font-size: 24px;
}

h1{
    color: white;
    font-size: 80px;
    text-transform: uppercase;
}

.section-3{
    width: 100%;
    background-image: url("../image/features.jpg");
    height: 940px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.row#section3{
    padding-top: 10rem;
}

.accordion-flush .accordion-item {
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.accordion-flush .accordion-item .accordion-button {
    color: #FFB548;
    background-color: rgba(0, 0, 0, 0);
    text-transform: uppercase;
}

.section-4{
    width: 100%;
    background-image: url("../image/requirements.png");
    height: 940px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container#section4{
    padding-top: 8rem;
}

.col-6#section4{
    padding-top: 2rem;
}

.container#tabel-requirement{
    padding-top: 2rem;
}

.row#section4{
    text-align: center;
}

p#title-tabel{
    text-transform: uppercase;
    color: #FFB548;
    margin-top: 1rem;
}

p#body-tabel{
color: white;
}